/* universal */
html {
  font-size: 16px;
  font-family: 'Noto Sans';
}

.images-container {

}

.image-container {

}

.image-container img {
  width: 100%;
  display: block;
}

.button {
  display: block;
}

.button-container {
  padding: 2rem 0;
}

.info-container {
  width: 90%;
  margin: 2rem auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  min-height: 9rem;
  margin-bottom: 2rem;
  background-image: url(../images/trackbw.jpg);
  background-size:130%;
  position: relative;
  text-transform:uppercase;
}

.full {
  width: 100%;
  height: 100%;
}

/* BANNER */

.banner {
  width: 100%;
  height: 50rem;
  background-image:url(../images/debatebw.jpg);
  background-size: cover;
  background-position: center;
  overflow:hidden;

}

.torch-container {
  width: 8%;
  height: auto;
  padding-right: 1rem;
}

.torch-container img {
  display: inline;
  max-width: 100%;
}
.hover-container {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 33.3%;
}

#col-gold {
  width: 33.3%;
}

.candidates-section {
  align-items: center;
}

.logo {
  margin: 2rem 1rem;
  width: 23%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 32rem;
}

.logo img {
  width: 100%;
  display: block;
}

.text {
  position: relative;
bottom: 5rem;
text-align: center;
font-family: Cinzel Decorative;
font-weight:700;
font-size: 1.2rem;
}

.arrow {
position: relative;
bottom: 8rem;
text-align: center;
margin: auto;
}

.arrow-container {
  width:7%;
  margin:auto;
  display: inline;
}

.arrow-container img {
  display: inline;
  height: 4rem;
  transform: rotate(135deg);
}
.gold {
  z-index: 10;
  top: 38rem;
}

.crowd {
  z-index: 10;
  top: 38rem;
  left: 2rem;
}

.opponent {
  z-index: 10;
  top: 30rem;
}


.hover .button-title {
  background-color: #141313;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 17rem;
  margin: auto;
}

span.button-title {
  font-size: 1.3rem;
}

span.button-text {
  font-family: Cinzel Decorative;
  font-weight:700;
}


.hover .hover-content {
  position: relative;
  background-color: white;
  border: 1.8rem solid #141313;
  padding: 3.1rem;
  z-index: 20;
}

.hover-title {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;

}

.hover-button {
  background-color: maroon;
  color: white;
  padding: 0.6rem;
  border: 5px solid maroon;
  border-radius: 2rem;
  display: inline-block;

}

.hover #gold-content {
top: 3rem;
right: -50rem;
transition: right 1s ease-out 100ms;
}

.hover:hover #gold-content {
right: 0;
}

.hover #opponent-content {
top: -50rem;
transition: top 1s ease-out 100ms;
}

.hover:hover #opponent-content {
top: 0;
}

.hover #crowd-content {
top: 3rem;
left: -50rem;
transition: left 1s ease-out 100ms;
}

.hover:hover #crowd-content {
left: 0;
}

/* NOMINATIONS */


.nominations {
  background-color: rgba(156, 31, 49, 0.8);
  position: absolute;
}


span.section-title {
  font-size: 3.5rem;
  display: block;
  margin: 1rem auto;
  position: relative;
  color:white;
}

.CTA {
  width: 80%;
  text-align: center;
  margin: auto;
}

span.CTA-text {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  padding: 1rem;
}


.videos-container {
  display: flex;
  justify-content: center;
}

.video-container {
  padding: 2rem;
}



.positions{
  background-color: rgba(147,175,43, 0.8);
  position: absolute;
}

.all-positions {
  background-image: url(../images/debate1bw.jpg);
  background-size: cover;
  background-attachment: fixed;

}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.positions-board {
  width: 25%;
  border: 1.8rem solid #141313;
  background-color: white;
  margin: 4rem;
  position: relative;
  height: 30rem
}

.positions-board ul li {
  font-size: 1.2rem;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

.positions-titles, .hover-positions {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
}

.hover-positions {
  background-color: white;
  color: black;
  opacity:0;
  height: 100%;
  padding: 0.5rem 1rem 0 1rem;
  margin: 0;
  overflow: auto;
}

.hover-positions:hover {
opacity: 1;
}

.button-container {
  width: 100%;
}



/*vote */

.vote {
  background-color: rgba(0, 69, 125, 0.8);
  position: absolute;
}

/*Documents */
.documents {
  background-color: rgba(137, 73, 139, 0.8);
  position: absolute;
}

@charset "UTF-8";
.rep-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rep-container .col {
  padding-right: 0px;
}
.rep-container .col a::before {
  font-family: FontAwesome;
  margin-right: 15px;
font-weight: 100;
}
.rep-container .col a.pie::before {
  content: "\f200";
}
.rep-container .col a.book::before {
  content: "\f02d";
}
.rep-container .col a.pres::before {
  content: "\f0c0";
}
.rep-container .col a.pdf::before {
  content: "\f1c1";
}
.rep-container .col a.grey {
background-color: #505050
}
.rep-container .col a {
  display: block;
  color: #fafafa;
  text-decoration: none;
  margin: 20px 0px;
  font-size: 1 em;
  font-family: Century Gothic, sans serif;
  background-color: #9E2035;
  padding: 15px;
  text-align: center;
  border-radius: 2px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.rep-container .col a:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}


/*Media Queries */



@media screen and (min-width: 1000px) {
  .rep-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .rep-container .col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
padding-right: 20px;
  }
}



@media screen and (max-width: 650px) {
  .banner {
    width: 100%;
  }

  body {
    width: 100%;
    margin: auto;
  }

  .hover-content, .hover-positions {
    display: none;
  }

  .positions-board {
    width: 100%;
    margin: 1rem;
  }

  .videos-container {
    flex-wrap: wrap;
  }

  span.section-title {
    font-size: 2.8rem;
  }

  .hover .button-title {
    position: absolute;
  }

  .opponent {
    top: 90%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .crowd {
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .gold {
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}
